#canvas {
    border: 3px dotted black;
    background: url("../images/zack-stella-zackstella-mtg-flooded-strand.jpg");
}

.flex {
    width: 1500px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}