#canvas {
    border: 3px dotted black;
    background: url("../images/background.jpg");
}

.flex {
    width: 1500px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}